body {
    font-family: "Roboto Mono", monospace;
    /* letter-spacing: 1px; */

    /* No Select */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

select:focus {
    box-shadow: none;
    outline: none;
}

.mt-5 {
    margin-top: 5rem;
}
